<template>
  <EditorContent :editor="editor" class="editor" />
</template>

<script setup lang="ts">
import { Editor, EditorContent } from "@tiptap/vue-2";
import { StarterKit } from "@tiptap/starter-kit";

const editor = new Editor({
  content: "SHTAB",
  extensions: [StarterKit],
  onUpdate: () => {
    console.log(editor.getText());
  },
});
</script>

<style scoped lang="scss">
.editor {
  height: 80vh;
  width: 80%;
  border: 1px solid grey;
}
</style>
